@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("quran.jpg");
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.main-section {
  width: 605px;
  background: #cdccd4;
  border-radius: 15px;
  padding: 30px 30px 25px;
}

.main-section header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.main-section .content {
  margin: 35px 0;
}

.content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area i {
  font-size: 15px;
}

.quote-area i:first-child {
  margin: 3px 10px 0 0;
}

.quote-area i:last-child {
  display: flex;
  align-items: center;
  margin: 0 0 3px 10px;
}

.quote-area .quote-paragraph {
  font-size: 22px;
  text-align: center;
}

.content .author {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  font-style: italic;
  font-size: 18px;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.main-section .buttons {
  border-top: 1px solid #cccccc;
}

.buttons .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #49596e;
  color: #051937;
  transition: all 0.6s ease;
  cursor: pointer;
}

.features ul li:hover {
  color: #ffffff;
  background: #02030f;
}

.features button {
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 13px 22px;
  background: #49596e;
  transition: all 0.7s ease;
  border-radius: 50px;
}

.features button:hover {
  background: #3b5998;
}

.button .loading {
  opacity: 0.7;
  pointer-events: none;
}

.container {
  margin-top: 50px;
}

.share-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-icons a {
  display: block;
  margin: 0 10px;
  font-size: 24px;
  color: #555;
  transition: all 0.2s ease-in-out;
}

.share-icons a:hover {
  color: #3b5998;
  transform: scale(1.2);
}
